h1 {
  font-size: 100px;
  text-align: center;
}

h2 {
  font-size: 50px;
  text-align: center;
}

/* NAVBAR */

.top-nav {
  background-color: #4c5d8a;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.top-nav li {
  float: left;
  font-size: 20px;
  font-weight: bold;
  background-color: #FFFF00;
  border-right: 1px solid #bbbbbb;
}

.top-nav li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

.top-nav li:last-child {
  border-right: none;
}

/* DROPDOWN */

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
}

.dropdown-content a {
  display: block;
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* LOGO */

.logo img {
  width: 60px;
  height: 60px;
}

/* BODY */

body {
  margin: 0;
  font-family: system-ui;
}

p {
  padding: 20px;
  clear: both;
}